.menu{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-top: 5em;
}

.button__genre{
    width: 10em;
    padding: 0.6em;
    border-radius: 2em;
    border: solid 1px  rgb(0, 183, 255);
    // background: linear-gradient(to bottom, #3a107f, #04b8d4);
    background-color: green;
    cursor: pointer;
    color: aliceblue;
}
