*{
  box-sizing: border-box;
}

#root, html, body{
  // background: linear-gradient(to bottom, #9a67ea, #04d4c3);
  background-color: red;
}

.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin: auto
}
