*{
  box-sizing: border-box;
}

#root, html, body{
  background: linear-gradient(to bottom, #9a67ea, #04d4c3);
}

.main{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin: auto
}
